@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  top: 2rem; /* Move to top */
  color: #f97316; /* Tailwind orange-500 */
  background: white;
  padding: 8px;
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 40px;
  height: 40px;
}

.swiper-button-next {
  right: 1rem;
}

.swiper-button-prev {
  left: 1rem;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.7s ease-out forwards;
}

@keyframes letter {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-letter {
  animation: letter 0.4s ease-out forwards;
}
